
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100%;
	width: 100wh;
	background-color: #5B6270; 
	display:flex;
	justify-content: center;
	align-items: center;
	
}
/* #313642  black*/
/* #7CB9DD blue */
/* #A9C991 green */
/* #FF7360 pink */
/* #F9AA53 oranges */
/* #AA9AFF purple */

#mainCont{
	margin-top: 10px;
	padding: 25px;
	background-color:#313642 ;
	display:flex;
	/* justify-content: center;  */
	 align-items: center;
	 flex-direction: column; 
	height: 100vh;
	width: 800px;
}
#inputCont{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20%;
	width: 100%;
	border: none;
	
}
input{
	
	padding-left: 15px;
	font-size: 15px;
	width: 80%;
	height: 50px;
	border: none;
}
#addBtn{
	height: 50px;
	width:100px;
	font-size: 15px;
	font-weight: 600;
	color:white;
	padding: 5px;
	background-color:#F9AA53 ;
	border: none;
}
#container{
	/* margin-top: 50px; */
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	gap: 20px;
	margin-right: 50px;
	/* background-color: aqua; */
	/* height: 100%;*/
	 width: 100%; 
	

}

.todoItem{
	height: 100%;
	width: 100%;
	display: flex;
	/* gap: 10px; */
	/* font-size: 15px; */
	justify-content: flex-end; 
	align-items: center; 
	
	

}
.message{
	font-size: 15px;
	font-weight: 500;
	background-color: #FF7360;
	color: white;
	/* width:100%; */
	border-radius: 25px;
	padding: 10px;
	padding-right: 100px;

}
.deleteBtn {
	/* padding: 5px; */
	color:white;
	border-radius: 100px;
	border: none;
	padding: 10px;
	background-color: #A9C991;


}
.updateBtn{
	/* padding: 5px; */
	color:white;
	border-radius: 100px;
	border: none;
	padding: 10px;
	background-color: #F9AA53;

}
.check{
	width: 27px;
	height: 27px;
	/* border-radius: 100%; */
	border: none;

}
