*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}
h2{
	text-align: center;
	margin-bottom: 10px;
}

#container{
	border: 1px solid black;
	height: 80%;
	width: 50%;
	padding: 20px;
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	/* flex-direction: column; */
	/* gap: 20px; */
}
label{
	font-size: 22px;
	font-weight: 800;
	/* margin-right: 10px; */
}
.inputBox{
	width: 40%; 
	 padding: 7px;
	margin: 10px;
	font-size: 17px;
}
.errorText{
	color: red;
	font-size: 15px;
}

button{
	margin-top: 10px;
	height: 40px;
	background-color: gray;
	color: white;
	width: 100px;
}