*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
     height: 100vh;
	width: 100vw;
	 /* background-color: rgb(98, 97, 97);  */
	/*text-align: center; */
	/* display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; */

}
#container{
	height: 100%;
	width: 100%;
	background-color: white;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* gap: 20px; */
}
.mainBox {
	height: 300px;
	width: 250px;
	border: 1px solid white;
	

}

.box1{
	height: 120px;
	width: 100%;
	border: 1px solid white;
	
}
.box2{
	height: 80px;
	width: 100%;
	/* border: 1px solid white; */
	
}
.box3{
	height: 60px;
	width: 100%;
	/* border: 1px solid white; */
	
}
.box4{
	height: 40px;
	width: 100%;
	/* border: 1px solid white; */
	
}


.button{
	height: 50px;
	width: 100px;
	color: white;
	background-color: black;
	margin-top: 30px;
}
